h2._app_name,
._user {
	color: #fff;
}

._left_bar {
	height: 100%;
}

._left_bar,
._left_bar .ant-menu {
	background: #dedede;
}

._main_body {
	background: #fff;
	padding: 12px 12px 0 12px;
}

._error_404 {
	text-align: center;
}

/* todo demo */

.mainbox {
	width: 500px;
	padding: 20px 10px 0;
	border: solid 1px #ddd;
	margin-top: 15px;
}

.mainbox h1 {
	text-align: center;
}

.addbox {
	width: 380px;
	margin: 12px auto;
}

.addbox label {
	margin-right: 15px;
}

.addbox label input[type="checkbox"] {
	margin: 9px 2px 0 0;
}

.addbox input[type="text"] {
	height: 30px;
	width: 260px;
}

.addbox button {
	height: 32px;
	padding: 0 8px;
	display: block;
	float: right;
	line-height: 32px;
	border-radius: 2px;
}

.listbox {
	width: 520px;
	margin-left: -10px;
}

.listbox ul li {
	line-height: 36px;
	border-bottom: solid 1px #ddd;
	min-height: 36px;
	padding: 12px 15px;
	overflow: hidden;
}

.listbox ul li:hover {
	background: #f3f5de;
}

.listbox ul li:last-of-type {
	border: none;
}

.listbox ul li input[type="checkbox"] {
	margin: 11px 11px 11px 0;
	width: 14px;
	height: 14px;
	cursor: pointer;
}

.listbox ul li input[type="text"] {
	width: 280px;
	height: 32px;
}

.listbox ul li div.l {
	width: 50%;
}

.listbox ul li div.l span {
	width: 100%;
}

.listbox ul li.selected span {
	text-decoration: line-through;
}

.listbox ul li div.operate {
	width: 160px;
	text-align: center;
}

.listbox ul li button {
	display: inline-block;
	padding: 0 8px;
	border-radius: 2px;
	height: 30px;
	line-height: 30px;
}

.last_info {
	height: 40px;
	line-height: 40px;
}

.info {
	margin-right: 28px;
}

.choose_btn span {
	display: block;
	float: left;
	border: solid 1px #dedede;
	height: 24px;
	line-height: 24px;
	margin: 8px;
	padding: 0 8px;
	border-radius: 12px;
	cursor: pointer;
}

.choose_btn span:hover {
	background: #6a84f2;
	border-color: #6a84f2;
	color: #fff;
}

.choose_btn span.active {
	background: #ce4949;
	color: #fff;
	border-color: #ce4949;
}

.last_info .del {
	line-height: 30px;
	height: 30px;
	padding: 0 15px;
	border-radius: 2px;
	margin: 6px;
}

button:hover {
	background: #6a84f2;
	color: #fff;
}
